@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before
*::after {box-sizing: border-box;}




body{
    background: #28211E;
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 3rem;
    min-height: 100vh;        
    display: flex;            
    flex-direction: column;
    
  }

  .btn{
    background: #28211E;
    border: 3PX solid #fff;
    border-radius: 200px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background 0.3 ease;
    width: 463px;
    height: 200px;
    color: #fff;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
    
  }

  .texto{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

  }

  .btn:focus{
    transform: translateY(-3px);
    background: linear-gradient(50deg, #DF7E7A, #B76A66, #8F5553);
    transition: 0.3s ease;
    border-color: #28211E;
    color: #000;
  }
  header{
    margin-top: 5px;
  }

  header hr {
    width: 100vw;      
    margin-left: calc(-1 * 3rem); 
    height: 3px;
    background-color: #fff;
    border: none;
  }
  
  
  .titulo{
    color: #fff;
    font-size: 1.25rem;
    transform: translateY(-10px);
  }
  footer.prx {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    background: transparent; 
  }
  #proximo{
    background: linear-gradient(50deg, #DF7E7A, #B76A66, #8F5553);
    border-radius: 300px;
    border: 0;
    padding: 0.6rem 1.5rem;
    color: #fff;
    height: 40px;
    width: 150px;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    gap: 20px;
    
  }
  #proximo:hover{
    transform: translateY(-3px);
    transition: 0.5 ease;
  }
  .perguntas{
    gap: 20px;
    
  }
  .logo{
    margin-top: -40px;
    width: 550px;
    height: auto;

  }

  a{
    text-decoration: none;
    color:#fff;
  }
  hr{
    width: 100%;
    height: 3px;
    background-color: #fff;
  }
  
  #pg{
    display: flex;
    justify-content: center;
    text-size-adjust: 4rem;

  }

  #selecione{
    display: flex;
    justify-content: center;
  }

  .bolinhas{
    display: flex;
    justify-content: center; 
    gap: 10px;                
    margin-top: 200px; 
    margin-bottom: 30px;  
        
  }
  
  .bolinha1{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: radial-gradient(circle at top left, #8F5553, #DF7E7A, #E9BFA8);
  }
  
  .empty{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #28211E;   
    border: 1px solid #000000; 
  }
  
  
  h2{
      font-weight: 550;
  }
  
  .btn h2{
    display: flex;
    margin: 0;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
  }

  .btn h2 img{
    height: 30px;
    width: 30px;
    
  }

  .btn .texto{
    font-size: 1.4rem;           
    line-height: 1.5rem;
    margin: 0;
    max-width: 85%;               
    text-align: center;
  }